.section {
    width: 100%;
    height: 80vh;
    background-color: #65a3d8;
    

    .content {
        height: 75%;
        width: 75%;

        .info {
            align-items: start;
            width: 50%;
            height: 100%;

            h1 {
                border-radius: 20px;
                font-weight: 700;
                font-size: 30px;


                padding: 20px;
                background-color: #db608f;
                color: white;
            }

            button {
                font-weight: 600;
                font-size: 18px;
                border: none;
                border-radius: 20px;
                margin-left: 20px;
                padding: 8px 0;
                width: 280px;
                background-color: white;
                color: #65a3d8;
                border: 1px solid transparent;
                transition: all 0.6s ease;

                &:hover {
                    background-color: #65a3d8;
                    color: white;
                    border: 1px solid white;
                }

            }

            div {
                gap: 5px;
                color: white;

                h5 {
                    font-size: 20px;
                    font-weight: 400;

                }

                p {
                    color: white;

                    font-size: 14px;
                    font-weight: 800;
                    color: rgb(255, 255, 255);

                }
            }

            p {

                color: white;

                font-size: 18px;
                font-weight: 400;
                width: 90%;
                line-height: 1.6;

            }
        }

        .imgBox {
            width: 50%;

            div {
                width: 400px;
                height: 400px;
                background-image: url("https://img.freepik.com/premium-photo/work-play-online-happy-guy-holding-laptop-typing_922936-30746.jpg?semt=ais_hybrid");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 30px;

            }
        }
    }
}

@media (max-width: 480px) {

    .section {
        width: 100%;
        height: auto;
        padding: 20px 0;

        .content {
            padding: 20px 0;
            gap: 20px;


            flex-wrap: wrap;


            .info {
                width: 100%;
                gap: 20px;

                div {
                 

                    h5 {
                        font-size: 20px;
                        font-weight: 400;

                    }

                    p {
                        color: white;

                        font-size: 14px;
                        font-weight: 800;

                    }
                }
                p {

                    color: white;
    
                    font-size: 16px;
                  
    
                }
                button{
                    width: 150px;
                }

            }

            .imgBox {
                width: 100%;
                div{
                    height: 250px;
                }


            }
        }

    }
}

@media screen and (min-width: 480px) and (max-width: 860px) {
    .section {
        width: 100%;
        height: auto;
        padding: 20px 0;

        .content {
            padding: 20px 0;
            gap: 20px;


            flex-wrap: wrap;


            .info {
                width: 100%;
                gap: 20px;

                div {
                 

                    h5 {
                        font-size: 20px;
                        font-weight: 400;

                    }

                    p {
                        color: white;

                        font-size: 14px;
                        font-weight: 800;

                    }
                }
                p {

                    color: white;
    
                    font-size: 16px;
                  
    
                }
                button{
                    width: 150px;
                }

            }

            .imgBox {
                width: 100%;
                justify-content: start;
                div{
                    height: 300px;
                }


            }
        }

    }
}