.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

.errorCode {
    font-size: 6rem;
    font-weight: bold;
    color: red;
}

.errorMessage {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.goBackButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

