.section{
    width: 100%;
    height: 100vh;
    background-color: #00427C;

    .content{
        width: 1100px;
        height: 90vh;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 15px;
        

        .form{
            h4{
                font-weight: 500;
                font-size: 25px;
            }
            width: 90%;
            height: 75%;
            button{
                border: none;
                background-color: #00427C;
                width: 200px;
                height: 40px;
                border-radius: 30px;
                color: #fff;
            }
           
            .bigBox{
                width: 80%;
                height: 250px;
                .leftBox{
                    height: 100%;
                    width: 45%;
                    gap: 10px;
                    .radio{
                        gap: 5px;
                    }

                    .inputBox{
                        align-items: start;
                        width: 100%;
                      .radioImputBigBox{
                        width: 100%;
                        .radioImputMiddleBox{
                            gap: 5px;
                            width: 32%;
                            .radioImput{
                                width: 100%;
                                gap: 3px;
                                input{
                                    width: 15%;
                                }
                                label{
                                    width: 85%;
                                    font-size: 15px;
                                }

                            }
                        }
                        
                      }
                       
                          
                            a {
                              color: gray;
                              text-decoration: none;
                              font-size: 14px;
                              
                              &:hover {
                                text-decoration: underline;
                              }
                            }
                          
                        input{
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid rgb(212, 211, 211);
                           height: 25px;
                           outline: none;
                        }
                    }



                    
                }
                .rightBox{
                    height: 100%;
                    width: 45%;
                    gap: 5px;
                    .inputBox{
                        align-items: start;
                        width: 100%;
                       
                        input{
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid rgb(212, 211, 211);
                           height: 30px;
                           outline: none;
                        }
                    }
                }
            }
          
        }
        .singupBtnBox{
            gap: 7px;
            p{
                color: gray;
                font-size: 14px;
            }
            button{
                background-color: transparent;
                border: none;
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                  }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .section{
        width: 100%;
        .content{
            width: 90%;

        }
    }

}