.section{
    width: 100%;
    height: 15vh;
    .content{
        border-bottom: 3px solid #00427C;
        width: 900px;
        padding: 0 20px;
        p{
            font-size: 35px;
            font-weight: 500;
        }
        h3{
            color: #00427C;
            font-size: 35px;
            font-family: "Cinzel Decorative", serif;

        }
    }
    
}