@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.section{
    width: 100%;
    height: 40vh;
    background-color: #00427C;
    .content{
        width: 70%; 

        .cart{
            height: 120px;
            width: 27%;
        
            h4{
                font-size: 90px;
                font-weight: 600;
                color: #00B6EF;
                font-family: "Karla", serif;


            }
            p{
                font-weight: 400;
                font-size: 18px;
                color: white;
                font-family: "Karla", serif;

            }

        }

    }
}

@media screen and (min-width: 768px)  {
  
    .section{
       
        .content{
            width: 100%;
            gap: 10px;
         
            .cart{
                padding: 0 5px;
                width: 300px;
                height: 125px;
               
            }

        }
        
    }
   
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  
    .section{
        height: auto;
        padding: 30px 0;
        
        .content{
            height: 40vh;
            width: 90%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            .cart{
                width: 40%;
                height: 90px;
                  

                h4{
                    font-size: 65px;
                    font-weight: 600;
                   
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    color: white;
                    font-family: "Karla", serif;
    
                }


            }

        }
        
    }
   
}




@media screen and (max-width: 480px) {
  
    .section{
        height: auto;
        padding: 30px 0;
        .content{

            height: 55vh;
            flex-direction: column;
            justify-content: space-between;
            
            .cart{
                width: 80%;
                height: 90px;

                h4{
                    font-size: 55px;
                    font-weight: 600;
                   
    
    
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    color: white;
                    font-family: "Karla", serif;
    
                }


            }

        }
        
    }
   
}
