.section {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .classList {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  
    .classButton {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      transition: background 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .active {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      transition: background 3s;
  
    }
  }
  
  .tableBox {
    overflow-x: auto;

    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  
    .classTitle {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }
  
      th {
        background-color: #007bff;
        color: white;
      }
  
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tbody{
        .scoreCell{
         div{
          display: flex;
          gap: 4px;

          button{
            font-size: 20px;
            padding: 2px;
            background-color: transparent;
            border: none;

          }
         }

          
        }

      }


    }
  }
  
  .loading, .error {
    text-align: center;
    font-size: 18px;
    color: red;
  }
  