*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px;
    background-color: rgb(68, 65, 65);;
    height: 25px;
}
#salam{
    border-left: none;
}

div{
    display: flex;
    gap:0

}
.button{
    margin: 0;
padding: 4px;
background-color: rgb(68, 65, 65);
color:white;
border-top: none;
border-bottom: none;
border-left: none;
border-right: 2.4px solid white;
}
.awg{
    border: none;
    align-items: center;
    background-color: rgb(68, 65, 65);
    gap: 35px;
    color: white;
    
}
.getButton{
    background-color: chartreuse;
}
.divSon{
    display: flex;
    gap: 10px;
    margin-left: 6px;

}
.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 210px;
    background-color: white;


}
.logo{
    width: 300px;

}

.nav2{
    display:flex;
    gap:40px;
}
   
.buttonNav{
    border: none;
    background-color: white;
    font-weight: bold;
    color: rgb(68, 65, 65);

}
.buttonNav:hover{
border: 1px solid greenyellow;
}
.headerImg{
   display: flex;
    height: 80vh;
    justify-content: center;
    padding: 0 80px;
}

