.section {
    width: 100%;
    height: 50vh;
    background-color: #191919;

    .content {
        height: 80%;
        width: 90%;
        gap: 10px;
        flex-wrap: wrap;

        .mapBox {
            height: 65%;
            width: 30%;
            align-items: start;
            gap: 10px;


            h5 {
                font-size: 20px;
                color: white;

            }

            .mapImg {
                width: 70%;
                height: 75%;

                img {

                    height: 100%;
                    width: 100%;
                }
            }

        }

        .cart {

            height: 65%;
            width: 31%;
            align-items: start;
            gap: 10px;

            h5 {
                font-size: 20px;
                color: white;
            }


            .info {
                align-items: start;
                height: 65%;
                width: 100%;

                p {
                    color: #7A7A7A;
                }
            }

        }
    }
}

@media (max-width: 480px) {
    .section {
        height: auto;
        padding: 20px 0;

        .content {
            padding: 20px 0;
            width: 90%;
            align-items: start;

            .mapBox {
                width: 100%;
                padding-bottom: 20px;

                .mapImg {
                    width: 100%;
                }
            }

            .cart {
                width: 100%;

                h5 {
                    font-size: 20px;
                }

                .info {
                    width: 100%;

                    p {
                        font-size: 15px;
                    }
                }

            }
        }
    }



}


@media screen and (min-width: 480px) and (max-width: 768px) {
    .section {
        height: auto;
        padding: 20px 0;

        .content {
            padding: 20px 0;
            width: 90%;
            align-items: start;

            .mapBox {
                width: 100%;
                padding-bottom: 20px;

                .mapImg {
                    width: 100%;
                }
            }

            .cart {
                width: 47%;

                h5 {
                    font-size: 20px;
                }

                .info {
                    width: 100%;

                    p {
                        font-size: 15px;
                    }
                }

            }
        }
    }



}