.section{
    width: 100%;
    height: 55vh;
    .content{
        height: 75%;
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;


        



        .cart{
            width: 27%;
            height: 100px;
            gap: 20px;
            .imgBox{
                padding: 7px;
                background-color: #00427C;
                border-radius: 50%;
                img{
                    height: 60px;
                    width: 60px;
    
                    padding: 10px;
                    
                }
            }
         
            .info{
                gap: 7px;
                width: 60%;
                align-items: start;
        
                h4{
                    font-size: 20px;
                    font-weight: 400;
                }
                p{
                    color: gray;
                    font-size: 14px;
                    font-weight: 400;

                }

            }
        }

    }
}