.section{
    width: 100%;
    height: 100vh;
    background-color: #00427C;

    .content{
        width: 400px;
        height: 80vh;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 15px;
        

        .form{

            h4{
                font-weight: 500;
                font-size: 25px;
            }
            width: 70%;
            height: 60%;
            .submit{
                margin-top: 20px;
                border: none;
                background-color: #00427C;
                width: 100%;
                height: 34px;
                border-radius: 25px;
                color: #fff;
            }
           
            .inputBox{
                align-items: start;
                width: 100%;
                .passwordInputBox{
                    width: 100%;
                    height: 40px;
                        button{
                            border: none;
                        width: 30px;
                        background-color: transparent;
                        height: 30px;
                        margin-right: 10px;

                    }
                    input{
                        width: 86%;

                    }
                }




                .forgotPassword {
                    text-align: right;
                    margin-top: 5px;
                    width: 100%;
                  
                    a {
                      color: gray;
                      text-decoration: none;
                      font-size: 14px;
                      
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                input{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid rgb(212, 211, 211);
                   outline: none;
                   height: 25px;
                   margin: 10px 0;
                }
            }
        }
        .singupBtnBox{
            gap: 7px;
            p{
                color: gray;
                font-size: 14px;
            }
            button{
                background-color: transparent;
                border: none;
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                  }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .section{
        width: 100%;
        .content{
            width: 90%;

        }
    }

}