.section {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
 


    
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    h1{
        font-family: "Cinzel Decorative", serif;

    }

}

@media (max-width: 480px) {
.section{
    .overlay {
     
        h1{

            font-size: 44px;
    
        }
    
    }
}
}