.header {
    width: 100%;
    background-color: #00427C;
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 100;
  
    .content {
      width: 90%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logoBox h3 {
        font-family: "Cinzel Decorative", serif;
      }
  
      .btnBox {
        display: flex;
        gap: 10px;
  
        button {
          padding: 10px;
          background-color: transparent;
          color: white;
          border: none;
          font-size: 17px;
          transition: all 0.3s ease;
  
          &:hover {
            color: #00B6EF;
          }
        }
  
        .loginBtn {
          background-color: #D5447B;
          width: 137px;
          border-radius: 20px;
          transition: all 0.3s ease;
  
          &:hover {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          }
        }
      }
  
      .hamburgerMenu {
        display: none;
      }
    }
  }
  
  .mobileMenu {
    align-items: center;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11vh;
    left: 0;
    width: 100%;
    background-color: #00427C;
    padding: 15px;
    text-align: center;
  
    button {
      padding: 10px;
      background-color: transparent;
      color: white;
      border: none;
      font-size: 17px;
      transition: all 0.3s ease;
  
      &:hover {
        color: #00B6EF;
      }
    }
  
    .loginBtn {
      background-color: #D5447B;
      width: 80%;
      border-radius: 20px;
      transition: all 0.3s ease;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 820px) {
    .btnBox {
      display: none !important;
    }
  
    .hamburgerMenu {
      display: flex !important;
  
      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 25px;
      }
    }
  }
  