@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerBigDiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.headerBigDiv1Nav {
    display: flex;
    padding: 10px 0;


}

.headerBigDiv1NavUl {
    display: flex;
    gap: 20px;


}

.headerBigDiv1DivNav2Ul {
    display: flex;
    gap: 17px;
    color: grey;
}

.headerBigDiv1Div {
    display: flex;
    gap: 20px;
    padding: 10px 0;

}

.headerBigDiv1DivNav1Ul {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.headerBigDiv1DivNav1 {
    display: flex;
}

.headerBigDiv2 {
    display: flex;
    justify-content: space-between;
    padding: 20 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Roboto';
}

.headerBigDiv2Nav2 {
    display: flex;
    align-items: center;

}

.headerBigDiv2Nav1Ul {
    display: flex;
    align-items: center;
    gap: 55px;
    font-weight: bold;
}

.headerBigDiv2Nav2Ul {
    display: flex;
    gap: 35px;
    font-size: larger;
}

.headerBigDiv2Nav1 {
    display: flex;

}

.headerBigDiv3 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Roboto';
    gap: 10px;
    background-color: black;

}

.headerBigDiv3A {
    border-bottom: 2px solid chocolate;
    color: chocolate;

}

.headerBigDiv3P {
    color: white;
}

a {
    font-size: 15px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
}

.firstSection {
    background-image: url("https://preview.colorlib.com/theme/capitalshop/assets/img/hero/h1_hero1.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.firstSectionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 55%;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.5s ease;
    transition-delay: 0.1s;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondSectionDiv {
    height: 50vh;
    width: 85%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.card1 {
    background-image: url("https://preview.colorlib.com/theme/capitalshop/assets/img/gallery/items1.jpg");

}

.card2 {
    background-image: url("https://preview.colorlib.com/theme/capitalshop/assets/img/gallery/items2.jpg");
}

.card3 {
    background-image: url("https://preview.colorlib.com/theme/capitalshop/assets/img/gallery/items3.jpg");
}

.card {
    position: relative;
    width: 100%;
}

.cardh1 {
    position: absolute;
    bottom: 10px;
    right: 120px;
    color: white;

}

.thirdSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.thirdSectionNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ulll {
    display: flex;
    gap: 60px;

}

.thirdSectionHeaderH1 {
    font-size: 35px;

}

.fourthSectionBigDiv {
    display: flex;
    gap: 25px;
}

.fourthSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90VH;
    padding: 30PX;

}

.divP {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 25px;
}

.fifthSection {
    background-color: peru;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    padding: 100px;

}

fifthSectionP {
    font: size 40px;
}

.aaa {
    display: flex;
    gap: 20px;
}

.ddddd {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 510%;
}

.fifthSectionH1 {
    font-size: 45px;
}