.section{
    margin-top: 30px;
    width: 100%;
    .content{
        width: 900px;
        height: 50vh;
        box-shadow: 0 0 10px;
        border-bottom: none;
        .imgBox{
            justify-content: start;
            width: 200px; 
            height: 65%;
            margin-left: 10px;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
        .infoBox{
            width: 70%;
            height: 70%;
            .title{
                color: #00427C;
                width: 100%;
                height: 6vh;
                border-top: 3px solid #00427C;
                border-bottom: 3px solid #00427C;
                justify-content: space-between;
                padding: 0 20px;
                button{
                    background-color: #D5447B;
                    border: none;
                    padding: 5px;
                    border-radius: 20px;
                    width: 80px;
                    transition: all 0.6s ease;
                    &:hover{
                        box-shadow: 0 0 10px;
                    }
                }

            }
            .info{
                width: 100%;
                height: 75%;
                .leftBox{
                    height: 100%;
                    align-items: start;
                    width: 50%;
                    div{
                        p{
                            color: gray;
                        }
                    }
                }
                .rightBox{
                    height: 100%;
                    align-items: start;
                    width: 50%;
                    div{
                        p{
                            color: gray;
                        }
                    }
                }

            }
        }
    }
}