.header {
    width: 100%;
    background-color: #00427C;
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;

    .content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .logoBox {
            display: flex;
            align-items: center;
            gap: 10px;

            h3 {
                font-family: "Cinzel Decorative", serif;
                font-size: 20px;
            }
        }

        .btnBox {
            display: flex;
            gap: 15px;
            align-items: center;

            

            button {
                background-color: transparent;
                color: white;
                border: none;
                font-size: 17px;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    color: #00B6EF;
                }
            }

            .dropdownContainer {
                position: relative;
                display: inline-block;

                button {
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-size: 16px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #00B6EF;
                    }
                }

                .dropdownMenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #00427C;
                    width: 150px;
                    border-radius: 5px;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    padding: 5px;
                    display: none;
                    flex-direction: column;
                    z-index: 1000;

                    button {
                        width: 100%;
                        background: none;
                        border: none;
                        padding: 10px;
                        color: white;
                        text-align: left;
                        transition: background 0.3s ease;

                        &:hover {
                            background: rgba(255, 255, 255, 0.1);
                        }
                    }
                }

                &:hover .dropdownMenu {
                    display: flex;
                }
            }

            .logOut {
                height: 38px;
                background-color: #D5447B;
                width: 157px;
                border-radius: 20px;
                transition: all 0.3s ease;

                &:hover {
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                }
            }
        }

        .hamburgerMenu {
            display: none;

            button {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 25px;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .header {
        .content {
            .btnBox {
                display: none;
            }

            .hamburgerMenu {
                display: flex;
            }
        }
    }

    .content .btnBox.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11vh;
        right: 10px;
        background: #00427C;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        button {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            transition: background 0.3s ease;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}


@media screen and  (min-width: 768px)   and  (max-width: 1220px)  {
    .header{
        .content{
            .btnBox{
                width: 600px;
                button{
                    font-size: 16px;
                }

            }
        }
    }
}